[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
docker = "*"
codecov = "*"
testinfra = "*"
molecule = "*"
molecule-plugins = {extras = ["docker"], version = "*"}

[packages]
ansible = "==12.2.0"
ansible-lint = "*"
ansible-core = "*"
cryptography = "*"
jinja2 = "*"
molecule = "*"
requests = "*"
molecule-plugins = {extras = ["docker"], version = "*"}

[requires]
python_version = "3.12"
