---
# tasks file for ansible_passenger-apache-role
#

- name: OS specific variables
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"
  tags:
    - passenger

- name: RedHat(setup) specific tasks
  ansible.builtin.include_tasks: setup-RedHat.yml
  when: "ansible_os_family == 'RedHat'"
