- name: Install base system deps
  ansible.builtin.dnf:
    name:
      - glibc
      - httpd
    state: present
  when: passenger_manage_service

- name: Update certificates
  ansible.builtin.dnf:
    name: ca-certificates
    update_cache: true
    state: present
  when: passenger_manage_service

- name: Make sure Passenger prerequisites are installed
  ansible.builtin.dnf:
    name: ["epel-release"]
    state: installed
  become: "{{ passenger_become }}"
  tags:
    - passenger

- name: Add Passenger repository config
  ansible.builtin.template:
    src: "{{ passenger_yum_repo_template }}"
    dest: "{{ passenger_yum_repos_path }}"
  become: "{{ passenger_become }}"
  tags:
    - passenger

- name: Install Passenger and mod_passenger
  ansible.builtin.dnf:
    name:
      - "{{ passenger_package_name }}"
      - "mod_passenger"
    state: present
    enablerepo: passenger
    update_cache: true
  become: "{{ passenger_become }}"
  when: passenger_manage_service
  notify: Restart apache
  tags:
    - passenger

- name: Ensure mpm_prefork is installed
  ansible.builtin.dnf:
    name: "httpd-devel"
    state: present
  become: "{{ passenger_become }}"

- name: Ensure Passenger module is configured
  ansible.builtin.template:
    src: passenger.conf.j2
    dest: /etc/httpd/conf.modules.d/00-passenger.conf
    mode: '0644'
  become: "{{ passenger_become }}"
  notify: Restart apache
