[passenger]
name={{ passenger_repo_name }}
baseurl={{ passenger_repo_baseurl }}
gpgcheck={{ passenger_repo_gpg_check }}
enabled=1
gpgkey={{ passenger_repo_gpg_url }}
sslverify={{ passenger_repo_sslverify }}
sslcacert={{ passenger_repo_sslcacert }}
